.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5 Cite this Page
  .expander-content.nav-cite
    %h6 Chicago
    %p
      Nick Geller. 2015. “Roman Architexture: The Idea of the Monument in the Roman Imagination of the Augustan Age.” PhD Diss., University of Michigan.
